networks:
  data-network:
    driver: bridge

volumes:
  postgres_data:
  grafana_data:
  workspace:

services:
  # PostgreSQL Database - Our Data Warehouse
  postgres:
    image: postgres:15-alpine
    container_name: dwh_postgres
    restart: unless-stopped
    networks:
      - data-network
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: dwh_user
      POSTGRES_PASSWORD: dwh_password
      POSTGRES_DB: data_warehouse
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dwh_user -d data_warehouse"]
      interval: 10s
      timeout: 5s
      retries: 5
      
            
  # Grafana - Analytics & Visualization
  grafana:
    image: grafana/grafana:latest
    container_name: dwh_grafana
    restart: unless-stopped
    networks:
      - data-network
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin 
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - postgres
 